body {
    margin: 0;
    background-color: #202020;
}

.header-status {
    margin-top: 65px;
    margin-bottom: 0px;
    display: block;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    width: calc(100% - 50px);
    padding: 25px;
}

.content h1 {
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content b {
    color: #FFF;
    font-weight: 400;
    font-family: Inter;
}

.content b {font-size: 22px;}

.round-end-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
}

.content h2 {
    color: rgba(255, 255, 255, 0.25);
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    line-height: normal;
}

.content h3 {
    color: rgba(255, 255, 255, 0.35);
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    line-height: normal;
}

.content h4 {
    color: rgba(255, 255, 255, 0.95);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content span {
    color: rgba(255, 255, 255, 0.55);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content span b {
    color: #FFF;
}

.sanctions {
    display: flex;
    flex-direction: column;
}

.countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}