.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 33vh;
}

.container h1 {
    color: rgba(255, 255, 255, 0.66);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 1%;
}

.container input {
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 45%;
    height: 6vh;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.51);
    transition: background-color 0.3s ease;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.container input:hover {
    background-color: rgba(0, 0, 0, 0.65);
}


.container input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  appearance: none;
}

.container input[type="number"] {
  appearance: "textfield"; 
}

/* .container .title {
    margin-bottom: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 931px;
    height: 62px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.51);
    transition: background-color 0.3s ease;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
} */


.container button {
    margin-top: 1.5vh;
    border: none;
    width: 10%;
    height: 6vh;
    flex-shrink: 0;
    border-radius: 9px;
    background: rgba(21, 21, 21, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));

}

.container button:hover {
    background: rgba(0, 0, 0, 0.81);
}